@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	box-sizing: border-box;
}

body {
	color: pink;
	background-color: #19284C;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: pink;
	text-align: center;
	display: inline;
}

.jaartal {
	margin-left: 4%;
    /*background: #000035;*/
    background-color: pink;
    color: #19284C;
    border: 4px solid pink;
    border-radius: 10%;
    padding: 10px;
    font-weight: bold;
}

.titel {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	/* dmv flex-grow is de titel even breed als de rest van de content*/
	margin-top: 10px;
	padding: 4px;
}

h2 {
	color: #2E2D2F;
}

p {
	color: #2B2D2F;
}


section {
	display: flex;
	flex-flow: row wrap;
	margin-left: 10px;
	/*justify-content: space-evenly; Zorgt ervoor dat jaartal in midden staat*/
	align-items: center;
	height: 1000px;
}


article {
	flex-basis: 100%;
	padding: 10px;
	margin: 20px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ad1 .ad1 .ad3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.vertical { /*Dit is de lijn*/
	top: 10;
	border: 3px solid white;
	height: 490%;/*100% auto;*/
	margin-left: 8%;
	position: absolute;
	z-index: -3;
}

.hidden {
	visibility: hidden;
	/*Waarom bestaat er geen display: visible;?*/
}

img {
	width: 0px;
	height: 0px;

}


/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1023px) {

	img {
		width: 100%;
		max-width: 400px;
		height: auto;
		border-radius: 3px;
	}

	.hidden {
		visibility: visible;
	}

	.vertical { /*Dit is de lijn*/
		top: 10;
		border: 3px solid white;
		height: 600% ;/*100% auto;*/
		margin-left: 8%;
		position: absolute;
		z-index: -3;
}}

/* Laptop (kleine desktop) */
@media only screen and (min-width: 1024px) and (max-width: 1598px) {

	img {
		width: 100%;
		max-width: 400px;
		height: auto;
		border-radius: 3px;
	}

	.hidden {
		visibility: visible;
	}

	.titel {
		display: flex;
		justify-content: center;
		max-width: 50%;
		margin: 0.5% 0% 2% 26.5%;
		flex-shrink: 1;
		/* dmv flex-grow is de titel even breed als de rest van de content*/
		padding: 4px;
	}

	.vertical { /*Dit is de lijn*/
		border-left: 4px solid white;
		height: 520%; /*100% auto*/
		position: absolute;
		left: 43%;
		z-index: -3;
	}

	.jaartal {
		/*background: #000035;*/
		background-color: pink;
	    color: #19284C;
	    border: 4px solid pink;
	    border-radius: 10%;
	    padding: 10px;
	    margin-left: 48%;
	    display: block;
	}

	article {
		flex-basis: 100%;
		max-width: 45%;
		padding: 10px;
		margin: 20px;
		border: 1px solid white;
		border-radius: 5px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.rechterkant {
		margin-left: 55%;
}

}

/* Grote desktop */
@media only screen and (min-width: 1599px) {

	img {
		display: flex;
		width: 100%;
		max-width: 400px;
		height: auto;
		border-radius: 3px;
	}

	.hidden {
		visibility: visible;
	}

	.titel {
		display: flex;
		justify-content: center;
		max-width: 50%;
		margin: 0.5% 0% 2% 26.5%;
		flex-shrink: 1;
		/* dmv flex-grow is de titel even breed als de rest van de content*/
		padding: 4px;
	}

	.vertical { /*Dit is de lijn*/
		top: 15;
		border-left: 4px solid white;
		height: 185%; /*640%*/
		position: absolute;
		left: 43%;
		z-index: -3;
	}

	.jaartal {
		/*background: #000035;*/
		background-color: pink;
	    color: #19284C;
	    border: 4px solid pink;
	    border-radius: 10%;
	    padding: 10px;
	    margin-left: 49.5%;
	    display: block;
	}

	article {
		flex-basis: 100%;
		max-width: 45%;
		padding: 10px;
		margin: 20px;
		border: 1px solid white;
		border-radius: 5px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	

	.linkerkant {
		margin-left: 3%;
		margin-top: -2.4%;
}
	
	.rechterkant {
		margin-left: 53%;
		margin-top: -2.4%;
	}

}
